<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-item *ngIf="!user">
    <ion-label text-center>
      <ion-spinner></ion-spinner>
    </ion-label>
  </ion-item>


  <ion-list *ngIf="user">
    <ion-item>
        <ion-label>{{ user.username }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{user.first_name}} {{user.last_name}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{ user.email }}</ion-label>
    </ion-item>

  </ion-list>
  
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button  color="secondary" [routerLink]="['/user-create']">
      <ion-icon name="person-add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>